@import "tailwindcss";
@config "../../tailwind.config.mjs";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #6c17d4, #a869f4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #a869f4, #6c17d4);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #6c17d4, #a869f4);
}


* {
  scrollbar-width: thin;
  scrollbar-color: #a869f4 #6c17d4;
}

body {
  font-family: var(--font-sora);
  background-color: #06000d;
}

.page-wrapper {
  background-image: url(../../public/img/wrapper.webp);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: scroll;
}
.page-wrapper2 {
  background-image: url(../../public/img/wrapper.webp);
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 600% 600%;
  background-attachment: scroll;
}

.hero-card {
  background-image: radial-gradient(circle, #7b14f933, #864fcb73);
  box-shadow: 
    inset 4px 4px 10px rgba(255, 255, 255, 0.05),
    inset -4px -4px 10px rgba(0, 0, 0, 0.15),
    4px 4px 10px rgba(0, 0, 0, 0.1); 
}
